<h2>Celebrities By Name</h2>

{{#each allCelebrities}}
    <h3>{{this.name}}</h3>
    <a href="/celebrities/{{this._id}}">Show Details</a>

    <form action="/celebrities/{{this._id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
     <form action="/celebrities/{{this._id}}/edit" method="GET">
        <button type="submit">Edit</button>
    </form>
{{/each}}