<h2>List of Movies</h2>

<form action="/movies/new" method="GET">
        <button type="submit">Create New Movie</button>
</form>

{{#each allMovies}}
    <h3>{{this.title}}</h3>
    <a href="/movies/{{this._id}}">Show Details</a>

    <form action="/movies/{{this._id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>

    <form action="/movies/{{this._id}}/edit" method="GET">
        <button type="submit">Edit</button>
    </form>
{{/each}}
